html,
body{
  width:100wv;
  margin:0;
  padding:0;
  background-color: black;
}

button {
  padding: 5px, 10px;
  width: 6em;
  height: 3em;
  margin-top: 50px;
  border-color: rgb(3, 3, 3);
  border-radius: 0.5em;
  font-size: 0.8em;
}
li{
  list-style:none;
}

ul {
  margin:0;
  padding:0;
}
/* NAVBAR */

#navBar{
  width:100%;
  position:fixed;
  top:0; 
  padding:2em;
  font-size:larger;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  color:beige;
  background-color: #242323;
}

.boxNav span{
  margin: 0px 20px;
  padding: 10px 20px;
}

.boxNav span:hover {
  transform: scale(0.9);
  font-weight: bold;
  text-transform: uppercase;
}

#login {
  border: 0.5px solid beige;
  text-transform: uppercase;
  border-radius: 15px;
  padding: 10px 20px;
  margin:0;
}

#login:hover {
  border: 1.2px solid black;
  background-color: beige;
  color: #242323;
}

/* MAIN */

.main{
  width:100%;
  margin-top:8em;
  display:flex;
  justify-content: center;
}

#cercaForm{
 width:80%;
  /* min-width:max-content; */
  
}

.boxForm{
  max-width: 80%;
  height: max-content;
  padding: 10px;
  border-radius:5px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  background-color: bisque;
  margin:1em 0 1.2em 0;
}

.boxForm:hover {
  box-shadow: 1px 1px 20px 7px #b9b9b98f;
}

.bottoneSubmit {
  margin:2em auto;
  background-color: #242323;
  color:bisque;
  
}

.bottoneSubmit:hover{
  border:2px solid #242323;
  text-transform: uppercase;
  background-color: bisque;
  color:black;
  font-weight:bold;
}

/* SECTION RISULTATI */

.risultatiRicerca{
  margin:0 auto;
  background-color:bisque;
}




@media (max-width: 720px) {
  .footer {
    background-color: #242323;
    color: antiquewhite;
    padding: 0;
    margin-top:13em;
  }

  main {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .listaRis {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
    margin-bottom:5em;
  }

  .listaRis:hover {
    background-color: #242323;
    color: bisque;
  }

  .listaRis:hover button {
    background-color: bisque;
    color: #242323;
  }

  .listaRis button:hover {
    background-color: #242323;
    color: bisque;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid bisque;
  }

  .rigaInfo {
    width: max-content;
  }

  .rigaInfo h3 {
    color: beige;
    margin-right: 10px;
  }

  .rigaInfo input {
    height: 30px;
    font-size: medium;
  }

  table #risultatiLista,
  table td,
  table tr,
  td button {
    display: none;
  }
}

@media ((min-width: 600px) and (max-width: 1225px)) {
  .listaRis {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
    margin-bottom:8em;
  }

  .listaRis:hover {
    background-color: #242323;
    color: bisque;
  }

  .listaRis:hover button {
    background-color: bisque;
    color: #242323;
  }

  .listaRis button:hover {
    background-color: #242323;
    color: bisque;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid bisque;
  }

  table #risultatiLista,
  table td,
  table tr,
  td button {
    display: none;
  }
}

@media (min-width: 1225px) {
  table {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    margin-bottom:6em;
  }

  table td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }

  tr .intestazione {
    background-color: bisque;
  }

  td button {
    margin: 0;
    cursor: pointer;
    background-color: #242323;
    color: bisque;
  }

  table tr:hover {
    background-color: #242323;
    color: bisque;
    font-size: larger;
  }

  table tr:hover td button {
    background-color: bisque;
    color: #242323;
  }

  table tr td button:hover {
    background-color: #242323;
    color: bisque;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid bisque;
  }

  .listaRis,
  ul,
  li {
    display: none;
  }

  .footer{
    margin-top:5em;
    max-height:30px;
  }
} 

/* 
@media (max-width: 720px) {
  .footerPrenotazione {
    height: 10%;
    background-color: #242323;
    color: antiquewhite;
    padding: 0;
    margin: 0;
  }

  main {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .rigaInfo {
    width: max-content;
  }

  .rigaInfo h3 {
    color: beige;
    margin-right: 10px;
  }

  .rigaInfo input {
    height: 30px;
    font-size: medium;
  }
}


@media (min-width: 720px) and (max-width: 1300px) {
  .rigaInfo {
    width: max-content;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  .rigaInfo h3 {
    color: beige;
    margin-right: 10px;
  }

  .rigaInfo input {
    height: 30px;
    font-size: medium;
  }
}


@media (max-width: 375px) {
  .listaRis {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin-bottom: 2em;
  }
  table #risultatiLista,
  table td,
  table tr,
  td button {
    display: none;
  }
}


@media (max-width: 1300px) {
  table #risultatiLista,
  table td,
  table tr,
  td button {
    display: none;
  }
  .listaRis {
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: space-between;
    align-items: start;
    padding: 0em 2em 0 2em;
    margin-bottom: 2em;
  }

  .listaRis button {
    background-color: #242323;
    color: bisque;
    margin-left: 2em;
  }

  .listaRis:hover {
    background-color: #242323;
    color: bisque;
  }

  .listaRis:hover button {
    background-color: bisque;
    color: #242323;
  }

  .listaRis button:hover {
    background-color: #242323;
    color: bisque;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid bisque;
  }
}


@media (min-width: 1225px) {
  table {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

  table td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }

  tr .intestazione {
    background-color: bisque;
  }

  td button {
    margin: 0;
    cursor: pointer;
    background-color: #242323;
    color: bisque;
  }

  table tr:hover {
    background-color: #242323;
    color: bisque;
    font-size: larger;
  }

  table tr:hover td button {
    background-color: bisque;
    color: #242323;
  }

  table tr td button:hover {
    background-color: #242323;
    color: bisque;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid bisque;
  }

  .listaRis,
  ul,
  li {
    display: none;
  }
} */
/* FOOTER */
.footer {
  height:12%;
  position:fixed;
  display:flex;
  align-content:space-around;
  justify-content:center;

  bottom:0;
  width:100%;
  background-color: #242323;
  color: antiquewhite;
  padding:1.3em;
}

.copyright {
  display: flex;
  justify-content: center;
}

.contatti p{
  display: flex;
  flex-direction: column;
  margin:0;
  
}
.contatti h4 {
  text-transform: uppercase;
}
.containerFooter {
  width:80%;
  max-height:min-content;
  display: flex;
  justify-content: space-around;
  align-items:center;
  font-size: large;
}

.copyright {
  display: flex;
  justify-content: center;
}

.contatti {
  display: flex;
  flex-direction: column;
}
.contatti h4 {
  text-transform: uppercase;
}
.containerFooter {
  display: flex;
  justify-content: space-around;
  font-size: large;
}
